apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.app.envSecretName }}
  namespace: {{ include "common.names.namespace" . | quote }}
data:
  AUTH_PROVIDER: {{ (.Values.authProvider.type | default "keycloak") | b64enc | quote }}
  AUTH_SERVER_EXTERNAL_URL: {{ printf "https://auth-server.%s" (.Values.global.domain | default "localhost:8888") | b64enc | quote }}
  REGISTRY_URL: {{ printf "http://registry.%s.svc.cluster.local:8000" .Release.Namespace | b64enc | quote }}
  SECRET_KEY: {{ (.Values.global.secretKey | default .Values.app.secretKey) | b64enc | quote }}
  SESSION_COOKIE_SECURE: {{ .Values.app.sessionCookieSecure | toString | b64enc | quote }}
  SESSION_COOKIE_DOMAIN: {{ printf ".%s" (.Values.global.domain | default "localhost") | b64enc | quote }}
  {{- if eq (.Values.authProvider.type | default "keycloak") "keycloak" }}
  KEYCLOAK_ENABLED: {{ "true" | b64enc | quote }}
  KEYCLOAK_EXTERNAL_URL: {{ printf "https://keycloak.%s" (.Values.global.domain | default "localhost:8080") | b64enc | quote }}
  KEYCLOAK_REALM: {{ .Values.keycloak.realm | b64enc | quote }}
  KEYCLOAK_URL: {{ printf "http://%s-keycloak-headless.%s.svc.cluster.local:8080" .Release.Name .Release.Namespace | b64enc | quote }}
  {{- else if eq .Values.authProvider.type "entra" }}
  ENTRA_ENABLED: {{ "true" | b64enc | quote }}
  ENTRA_CLIENT_ID: {{ .Values.entra.clientId | b64enc | quote }}
  ENTRA_CLIENT_SECRET: {{ .Values.entra.clientSecret | b64enc | quote }}
  ENTRA_TENANT_ID: {{ .Values.entra.tenantId | b64enc | quote }}
  {{- end }}

